@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/* * {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
} */

:root {
  --bg-color: #292929;
  --hl-color: #2EC8FD;
  --text-color: #F4F4F4;
  --line-color: #3E3E3E;
  --block-bg-color: #4D4D4D;
  --block-bd-color: #555555;
  --block-dark-bg: #303030;
}

::-moz-selection { /* Code for Firefox */
  color: var(--bg-color);
  background: var(--hl-color);
}

::selection {
  color: var(--bg-color);
  background: var(--hl-color);
}

body {
  font-family: 'IBM Plex Mono', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, 'Helvetica Neue', 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}

img {
  max-width: 100%;
}

h2.regular-h2 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 32px;
  line-height: 40px;
}

.page-preheader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 96px;
}

h1.page-h1 {
  text-align: center;
  color: var(--bg-color);
  background-color: var(--text-color);
  font-size: 56px;
  line-height: 64px;
  padding: 16px 24px 16px 24px;
  transform: rotateZ(5deg);
}

.sub-text {
  font-size: 16px;
  line-height: 24px;
}

.navbar {
  height: 96px;
  width: 100%;
}

.main-container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 32px;
  padding-left: 32px;
}

.navbar-container {
  height: 100%;
}

.navbar-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.nav-menu {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  padding: 0 24px 0 24px;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.nav-link:hover {
  color: var(--hl-color);
}

.logo-link {
  width: 96px;
  height: 96px;
}

.page-hero-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-flex-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding-right: 64px;
}

.hero-flex-right {
  width: 30%;
}

.hero-img {
  border-radius: 50%;
}

/* Tablet */
@media screen and (max-width: 768px) {

}

/* Mobile Portrait */
@media screen and (max-width: 375px) {

  .navbar {
    height: 64px;
  }

  .main-container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .logo-link {
    width: 64px;
    height: 64px;
  }

}
